.text-greenish { //text-greenish
  color: #008676;
  opacity: 50%;
}

.text-lightblue {
  color: #004E86;
}

.text-blue {
  color: #001791;
}

.text-purple { //A renommer en text-purple + modifier home et index
  color: #630091;
}

.disable-homepage-button {
  opacity: 0;
  pointer-events: none;
}
