.hello-title-color {
  color: #008676;
  opacity: 50%;
}

.pres-subtitle-color {
  color: #004E86;
}

.here-subtitle-color {
  color: #001791;
}

.portfolio-title-color {
  color: #630091;
}

.disable-homepage-button {
  opacity: 0;
  pointer-events: none;
}
