<div class="body-easein fade-out"></div>

<div data-controller="toggle-animation" class="container pt-5 container-disable">
  <div data-toggle-animation-target="backgroundEaseInRight"class="body-easeout"></div>
  <div data-toggle-animation-target="homepageText" class="mb-5">
    <div class="d-flex fade-in-left">
      <h1 class="titles-bold hello-title-color title-size">Hello </h1>
      <h1 class="title-size smiley-position">👋</h1>
    </div>

    <div class="subtitle-position">
      <div class="first-subtitle-fade-in-up">
        <h1 class="titles-bold pres-subtitle-color subtitle-size">I am Alexandre Rodriguez, <br class="linewrap-toggle"> Fullstack Developer.</h1>
      </div>
      <div class="second-subtitle-fade-in-up">
        <h1 class="titles-bold here-subtitle-color subtitle-size subtitle-position-phone">Here's <br class="linewrap-toggle">my...</h1>
      </div>
    </div>

    <div class="d-flex title-position fade-in-left-second"> <!-- remplacer  -->
      <h1 class="titles-bold portfolio-title-color title-size portfolio-title-size-phone">Portfolio </h1>
      <h1 class="title-size portfolio-title-size-phone">🙂</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center fs-5 fade-in" data-toggle-animation-target="buttonText">
    <p data-action="click->toggle-animation#addKeyframes" class="portfolio-title-color text-opacity button-position button-decoration"> See Projects </p>
  </div>
</div>
