<div class="container pt-5 container-disable">
  <div class="mb-5">
    <div class="d-flex">
      <h1 class="titles-bold hello-title-color title-size">Hello </h1>
      <h1 class="title-size smiley-position">👋</h1>

    </div>
    <div class="subtitle-position">
      <h1 class="titles-bold pres-subtitle-color subtitle-size">I am Alexandre Rodriguez, <br class="linewrap-toggle"> Fullstack Developer.</h1>
      <h1 class="titles-bold here-subtitle-color subtitle-size subtitle-position-phone">Here's <br class="linewrap-toggle">my...</h1>
    </div>

    <div class="d-flex title-position">
      <h1 class="titles-bold portfolio-title-color title-size portfolio-title-size-phone">Portfolio </h1>
      <h1 class="title-size portfolio-title-size-phone">🙂</h1>
    </div>

  </div>
  <div class="d-flex justify-content-center fs-5">
    <p class="portfolio-title-color text-opacity button-position">See Projects</p>
  </div>
</div>
