<div class="container pt-5">
  <div style="height: 160px;" class="d-flex">
  <h1 style="margin:0px;"class="titles-black hello-title-color fs-2">Hello</h1>
  <h1 style="margin:0px;"class="fs-3">👋</h1>
  </div>
  <div style="padding: 0 7px;">
  <h1 style="margin:0;" class="titles-black pres-subtitle-color fs-6">I am Alexandre Rodriguez, <br> Fullstack Developer</h1>
  <h1 style="margin:0;" class="titles-black here-subtitle-color fs-6">Here's <br>my...</h1>
  </div>
  <div style="position:relative;top:-30px;"class="d-flex">
    <h1 class="titles-black portfolio-title-color fs-2">Portfolio </h1>
    <h1 class="fs-3">🙂</h1>
  </div>
  <div class="d-flex justify-content-center fs-5">
    <p>See Projects</p>
  </div>
</div>
