<div class="body-easein fade-out"></div>

<div data-controller="toggle-animation" data-toggle-animation-word-cloud-upper-div-outlet=".word-cloud" class="container pt-5 container-disable container-overflow">
  <div data-toggle-animation-target="homepageText" class="mb-5">
    <div class="d-flex fade-in-left">
      <h1 class="titles-bold text-greenish title-size">Hello </h1>
      <h1 class="title-size smiley-position">👋</h1>
    </div>

    <div class="subtitle-position">
      <div class="first-subtitle-fade-in-up">
        <h1 class="titles-bold pres-subtitle-color text-lightblue subtitle-size">I am Alexandre Rodriguez, <br class="linewrap-toggle"> Fullstack Developer.</h1>
      </div>
      <div class="second-subtitle-fade-in-up">
        <h1 class="titles-bold here-subtitle-color text-blue subtitle-size subtitle-position-phone">Here's <br class="linewrap-toggle">my...</h1>
      </div>
    </div>

    <div class="d-flex title-position fade-in-left-second">
      <h1 class="titles-bold text-purple title-size portfolio-title-size-phone">Portfolio </h1>
      <h1 class="title-size portfolio-title-size-phone">🙂</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center fs-5 fade-in" data-toggle-animation-target="buttonText">
    <p data-action="click->toggle-animation#addKeyframes" class="text-purple text-opacity button-position button-decoration"> See Projects </p>
  </div>
</div>

<div data-controller="word-cloud-upper-div" class="word-cloud">
  <div style="position: absolute; top: 0;pointer-events: none;" class="d-flex justify-content-center align-items-center" data-word-cloud-upper-div-target="cloud">
    <div data-controller="word-cloud">
      <% mock_data_list = @mock_data_list.each_slice(4).to_a %>
      <% mock_data_list.each do |elem| %>
        <div data-word-cloud-target="texts" class="fs-6 titles-bold d-flex">
          <% elem.each do |project| %>
            <p style="margin: 0; margin-right: 70px; opacity: 0;"><%= project.upcase %> </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
