<!-- S'occuper du responsive de la "navbar" -->
<div>
    <!-- 5 projets -->
  <div class="d-flex flex-wrap">
    <div class="card project-card card-greenish" data-controller="card-hover-animations" data-action="mouseover->card-hover-animations#showMobileAppDesc">
      <div class="d-flex justify-content-center align-items-center" style="height:inherit;"> <!-- Div contenant la vidéo -->
        <div class="p-4 d-none text-hidden mobile-card-text-size" data-card-hover-animations-target="appDesc"> <!-- Ajouter une classe "mobile-card-text-size" -->
          <h5 class="card-title titles-bold name-size" style="margin-bottom: 0; opacity: 100%;">KARMA</h5> <!-- Renommer la classe en text-purple--> <!-- Description brève -->
        </div>
      </div>
    </div>
    <div class="card project-card card-lightblue" data-controller="card-hover-animations" data-action="mouseover->card-hover-animations#showMobileAppDesc">
      <div class="d-flex justify-content-center align-items-center" style="height:inherit;">
        <div class="p-4 d-none text-hidden mobile-card-text-size" data-card-hover-animations-target="appDesc"> <!-- Ajouter une classe "mobile-card-text-size" -->
          <h5 class="card-title titles-bold name-size" style="margin-bottom: 0;  opacity: 100%;">POKEMARKET</h5> <!-- Renommer la classe en text-purple--> <!-- Description brève -->
        </div>
      </div>
    </div>

    <div class="card project-card card-blue" data-controller="card-hover-animations" data-action="mouseover->card-hover-animations#showMobileAppDesc">
      <div class="d-flex justify-content-center align-items-center" style="height:inherit;">
        <div class="d-none text-hidden p-4" data-card-hover-animations-target="appDesc">
          <h5 class="titles-bold name-size" style="margin-bottom: 0; opacity: 100%;"> BOOKI </h5>
        </div>
      </div>
    </div>
    <div class="card project-card card-purple" data-controller="card-hover-animations" data-action="mouseover->card-hover-animations#showMobileAppDesc">
      <div class="d-flex justify-content-center align-items-center" style="height:inherit;"> <!-- Div contenant la vidéo -->
        <div class="p-4 d-none d-flex align-items-center justify-content-center text-hidden mobile-card-text-size" data-card-hover-animations-target="appDesc"> <!-- Ajouter une classe "mobile-card-text-size" -->
          <h5 class="card-title titles-bold name-size" style="margin-bottom: 0; opacity: 100%;">PORTFOLIO v1</h5> <!-- Renommer la classe en text-purple--> <!-- Description brève -->
        </div>
      </div>
    </div>
  </div>
</div>
<%# <div class="titles-bold "> %>
  <%# <p>KARMA</p> %>
  <%# <p>BOOKI</p> %>
  <%# <p>SNAKEGAME</p> %>
  <%# <p>PORTFOLIO-v1</p> %>
  <%# <p>ABOUT ME</p> %>
<%# </div> %>
