<!-- S'occuper du responsive de la "navbar" -->

<div class="controller d-flex flex-wrap" data-controller="card-colors">
  <% @projects.each do |project| %>
    <%= link_to project_path(project.id), style:"text-decoration:none;" do %>
        <div class="card project-card card-purple" data-card-color-controller=""data-controller="card-hover-animations" data-action="mouseover->card-hover-animations#showMobileAppDesc">
          <div class="d-flex justify-content-center align-items-center" style="height:inherit;">
            <div class="p-4 d-none d-flex align-items-center justify-content-center text-hidden mobile-card-text-size" data-card-hover-animations-target="appDesc"> <!-- Ajouter une classe "mobile-card-text-size" -->
              <h5 class="card-title titles-bold name-size text-purple" style="margin-bottom: 0; opacity: 100%;"><%= project.name.upcase %></h5> <!-- Renommer la classe en text-purple--> <!-- Description brève -->
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
<%# <div class="titles-bold "> %>
  <%# <p>KARMA</p> %>
  <%# <p>BOOKI</p> %>
  <%# <p>SNAKEGAME</p> %>
  <%# <p>PORTFOLIO-v1</p> %>
  <%# <p>ABOUT ME</p> %>
<%# </div> %>
