<div class="container pt-4">
  <p class="titles-bold text-greenish"><%= @project.name %></p>
  <div>

  </div> <!-- Carousel images-->

  <!-- Github icon -->
  <!-- project description -->

</div>


<div> </div> <!-- Voir les images tags-->
<%# <p><%= project.description %></p>
