<div class="container pt-4">
  <p class="titles-bold text-greenish"><%= @project.name %></p>
  <div class="carousel">
    <div class="carousel__viewport">
      <div
          class="carousel__slide">
        <div class="carousel__snapper">
        </div>
      </div>
    </div>
  </div> <!-- Carousel images-->
  <div>
    <!-- Github icon -->
    <!-- project description -->
  </div>


</div>


<div> </div> <!-- Voir les images tags-->
<%# <p><%= project.description %></p>
